
.mtnlake{
  background-image: url(./MtnLake.jpg);
  background-size: cover;
  background-position: center;
}

.underdog-font{
  font-family: Underdog;
}

.vl {
  border-left: 6px solid green;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

p{
  margin-bottom: 0;
}

.shadowbox{
  box-shadow: 5px 10px 10px #888888;
  
}

divROW2{
  position: relative;
}

spillcard{
  position: absolute;
  bottom: -1.5rem;
}

@media only screen and (min-width: 768px){
.smvanish{
  display: none;
  }
}

main{
  margin-top: 40px;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}