*{
  outline: 1px solid red;
}

p{
  margin-bottom: 0;
}

.shadowbox{
  box-shadow: 5px 10px 10px #888888;
  
}

divROW2{
  position: relative;
}

spillcard{
  position: absolute;
  bottom: -1.5rem;
}